
<!DOCTYPE html>
<html>

  <head>
    <title> StoryForge </title>
  </head>

  <body>
    <h1> Click on the Story to add to it!</h1>
    <a href="http://127.0.0.1:5000/home">Back to Home Page</a>
    <br><br>

    <!-- loop through the story in story addable list -->
    {% set title = "" %}
    {% for story in collection %}
        {% set title = story %}
        {% if " " in story%}
            {% set title = story.replace(" ", "_") %}
        {% endif %}
        <!-- have a link such that when user click on a story it would redirect to the page-->
        <a href = http://127.0.0.1:5000/add/{{title}}> {{story}}</a>
        <br/><br/>
    {% endfor %}
    {{error}}
  </body>

</html>
