
<!DOCTYPE html>
<html>

  <head>
    <title> StoryForge </title>
  </head>

  <body>
    <h2>{{title}}</h2>
    <h3>
      Last Entry:
    </h3>

    {{last_entry}}<br/><br/>
    Last contributed by: <b>{{last_contributor}}</b><br/>
    <!-- adding new entry -->
    <form action="/home" method="POST">
      <h3>Add On!</h3>
      <!-- max length for entry is 300 characters -->
      <textarea id = "entry" name="entry" maxlength = "300" rows = "5" cols = "100" ></textarea><br>
      <p>Max: 300 characters</p>
      <!-- storing information of the title of story added to be passed to python script -->
      <input type = "hidden" name = "title" value = {{title}}>
      <input type = "hidden" name = "type" value = "add">
      <input type="submit" name="sub_entry" value="Submit">
    </form>
    <br><br>
    <a href="http://127.0.0.1:5000/home">Back to Home Page</a>
  </body>

</html>
