<!DOCTYPE html>
<html>

  <head>
    <title> StoryForge </title>
  </head>

  <body>
    <h1>
        Start a Story
    </h1>
    <form action="/create" method="POST">
      <h2> Title:</h2>
      <input type="text" name="title" maxlength = "50">
      <br><br>

      <h2> Content:</h2>
      <textarea id="content" name="content" rows = "10" cols = "100">{{story}}</textarea>
      <input type="hidden" name="type" value="create">
      <br><br>

      <input type="submit" name="sub_create" value="Submit Story">
      <br><br><h3 style="color:red;">{{message}}</h3>
    </form>
    <a href="/home">Back to Home Page</a>
    <br>
  </body>

</html>
