<!DOCTYPE html>
<html>

  <head>
    <title> StoryForge </title>
  </head>

  <body>
    <h1>
        Hey {{name}}!
    </h1>
    <h3>Not you? Logout here!</h3>
    <form action="/"> <!-- go back to login page -->
      <input type="submit" value="Logout" name="sub2">
    </form>
    <div id = "forge">
    <p> Forge your own story! Create a Story with a title and story, any length you want!  <b> KEEP IN MIND </b> You will not be able to edit the story afterward! </p>
    <a href= "http://127.0.0.1:5000/create"> Forge Story</a><br>
    </div>
    <div id = "refine">
    <p> Refine another's Story! Add on to another forger's story, maximum of 300 characters! <b> KEEP IN MIND </b> You will not be able to edit the story afterward! </p>
    <a href = "http://127.0.0.1:5000/add"> Refine Story </a> <br/><br/>
    </h3>
    </div>
    <div id = "own_stories">
    <h2> Your Stories </h2>
        <p> Check out your Stories!  You will see <b> BOTH </b> your edits and the edits of forgers on every story you have either forged or refined!</p>
    </div>



  </body>

</html>
