<!DOCTYPE html>
<html>

  <head>
    <title> StoryForge </title>
  </head>

  <body>
    <h1>
      Welcome to StoryForge! Are you ready to Forge?
    </h1>

    <h3>
      Login Here!
    </h3>
    <form action={{ url_for('disp_loginpage') }} method="POST">
      <label>Username:</label>
      <input type="text" name="username">
      <br><br>
      <label>Password:</label>
      <input type="password" name="password">
      <br>
      <p style="color:red;">{{error_message}}</p>
      <input type="submit" name="sub1" value="Login">
    </form>
    <br>
    <form action={{ url_for('create_account_render') }} method="POST">
      <input type="submit" name="create" value="Create An Account">
    </form>
  </body>

</html>
