
<!DOCTYPE html>
<html>

  <head>
    <title> StoryForge </title>
  </head>

  <body>
    <h1>
      Welcome to StoryForge! Are you ready to work on a story?
    </h1>

    <h3>
      Login
    </h3>
    <form action="/home" method="POST">
      <label>Username:</label>
      <input type="text" name="username">
      <br><br>
      <label>Password:</label>
      <input type="password" name="password">
      <br><br>
      {{error_message}} <br>
      <input type="submit" name="sub1" value="Login">
    </form>
    <br>

    <h2>
      <form action="/create_account" method="POST">
        <input type="submit" name="create" value="Create An Account">
      </form>
    </h2>
  </body>

</html>
