<!DOCTYPE html>
<html>

  <head>
    <title> StoryForge </title>
  </head>

  <body>
    <h1>
      Welcome to StoryForge! Are you ready to Forge?
    </h1>

    <h3>
      Login Here!
    </h3>
    <form action="/" method="POST">
      <label>Username:</label>
      <input type="text" name="username">
      <br><br>
      <label>Password:</label>
      <input type="password" name="password">
      <br>
      {{error_message}} <br>
      <input type="submit" name="sub1" value="Login">
    </form>
    <h3>
        No account?  Make one below!
    </h3>
      <form action="/create_account" method="POST">
        <input type="submit" name="create" value="Create An Account">
      </form>
  </body>

</html>
